.checkout-container {
  margin-top: 5rem;
}

.checkout {
  &__header {
    text-align: center;
  }

  &__main,
  &__footer {
    max-width: 70rem;
    margin: 0 auto;
  }

  &__header,
  &__main {
    margin-bottom: 2rem;
  }

  &--empty-cart {
    font-weight: 100;
  }
}

@media only screen and (max-width: 500px) {
  .grid__title {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
