.cart-icon-container {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;

  background-image: url("../../assets/shopping-bag.svg");
  background-repeat: no-repeat;

  position: relative;
}

.cart-item-count {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.2rem;
  font-weight: 600;
}
