*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  padding: 4rem 8rem;
}


@media only screen and (max-width: 800px) {
  html {
    font-size: 60%;
  }


  body {
    background-color: lightblue;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 2rem;
  }
}


/* @media only screen and (max-width: 500px) {
  body {
    background-color: aliceblue;
    font-size: 1.0rem;
    font-weight: 100;
    padding: 1rem;
  }
} */